*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back-ground{
    width: 100%;
    border: thin solid red;
    height: 100vh;
    background-image: url(./img/images\ plain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    
}
.back-ground .image img{
    transform: scalex(1);
    margin-top: 400px;
    margin-left: 1100px;
    animation: ball 4s ease-out  1s  infinite;
  
}
@keyframes ball {
    /* from{
        transform: scale(0);
        padding: 0;
        background-image: conic-gradient( red, yellow, yellow);
    }
    to{
        padding: 50px;
        transform: scale(10);
        background-color: blue;
    } */
    0%{
        transform: translate(10000, 0);
    }
    30%{
        transform: translate(-160px);
    }
    100%{
        transform: translate(-1300px,  -400px);
       
    }

  
    
}